In [28]:
import pandas as pd
import sys

sys.path.insert(0,'../satori')

from postprocess import *

In [29]:
file = "/s/jawar/i/nobackup/Saira/latest/satori_v2/TF_info/TF_Information_all_motifs.txt"

In [30]:
df_annotate = pd.read_csv(file, sep='\t')

/tmp/ipykernel_3593643/2704400854.py:1: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df_annotate = pd.read_csv(file, sep='\t')

In [31]:
pairs_file = "../create_dataset/tf_pairs_40.txt"

In [32]:
f = open(pairs_file , "r").readlines()
TFS = []
for line in f:
    tf1 , tf2 = line.split()
    if tf1 not in TFS:
        TFS.append(tf1)
    if tf2 not in TFS:
        TFS.append(tf2)

In [33]:
df_annotate.head()

,TF_ID,Family_ID,TSource_ID,Motif_ID,MSource_ID,DBID,TF_Name,TF_Species,TF_Status,Family_Name,...,MSource_Year,PMID,MSource_Version,SR_Model,SR_NoThreshold,TfSource_Name,TfSource_URL,TfSource_Year,TfSource_Month,TfSource_Day
0,T000001_2.00,F001_2.00,TS12_2.00,.,.,BRADI2G60554,BRADI2G60554,Brachypodium_distachyon,N,"ABF1,B3",...,.,.,.,SequenceIdentity,True,Ensembl,http://www.ensembl.org/,2018,Dec,8
1,T000002_2.00,F001_2.00,TS12_2.00,.,.,LPERR05G06870,LPERR05G06870,Leersia_perrieri,N,"ABF1,B3",...,.,.,.,SequenceIdentity,True,Ensembl,http://www.ensembl.org/,2018,Dec,8
2,T000003_2.00,F002_2.00,TS04_2.00,.,.,CPAG_02544,CPAG_02544,Candida_parapsilosis,N,ABF1,...,.,.,.,SequenceIdentity,True,Broad,http://www.broadinstitute.org/,2016,May,1
3,T000004_2.00,F002_2.00,TS04_2.00,.,.,PTSG_00627,PTSG_00627,Salpingoeca_rosetta,N,ABF1,...,.,.,.,SequenceIdentity,True,Broad,http://www.broadinstitute.org/,2016,May,1
4,T000005_2.00,F002_2.00,TS04_2.00,.,.,WUBG_06707,WUBG_06707,Wuchereria_bancrofti,N,ABF1,...,.,.,.,SequenceIdentity,True,Broad,http://www.broadinstitute.org/,2016,May,1

In [37]:
df_annotate["Motif_ID"]

0                     .
1                     .
2                     .
3                     .
4                     .
               ...
10879317    M11486_2.00
10879318              .
10879319              .
10879320              .
10879321              .
Name: Motif_ID, Length: 10879322, dtype: object

In [59]:
TF_family = {}
for tf in TFS:
    temp = df_annotate[(df_annotate["TF_Name"] == tf) & (df_annotate["TF_Species"] == "Homo_sapiens")]["Family_Name"].tolist()
    if len(temp) > 0:
        TF_family[tf] = temp[0]
    else: 
        temp = df_annotate[(df_annotate["TF_Name"] == tf) & (df_annotate["TF_Species"] == "Mus_musculus")]["Family_Name"].tolist()
        if len(temp) > 0:
            TF_family[tf] = temp[0]

In [62]:
len(TF_family)

17

In [64]:
df_annotate[(df_annotate["TF_Name"] == "ZNF187")]

Empty DataFrame
Columns: [TF_ID, Family_ID, TSource_ID, Motif_ID, MSource_ID, DBID, TF_Name, TF_Species, TF_Status, Family_Name, DBDs, DBD_Count, Cutoff, DBID.1, Motif_Type, MSource_Identifier, MSource_Type, MSource_Author, MSource_Year, PMID, MSource_Version, SR_Model, SR_NoThreshold, TfSource_Name, TfSource_URL, TfSource_Year, TfSource_Month, TfSource_Day]
Index: []

[0 rows x 28 columns]

In [71]:
family_interactions = []
for line in f:
    tf1 , tf2 = line.split()
    if tf1 in TF_family and  tf2 in TF_family :
        family_interactions.append((TF_family[tf1],TF_family[tf2]))
    if tf1 in TF_family and tf2 not in TF_family:
        family_interactions.append((TF_family[tf1],tf2))
    if tf1 not in TF_family and tf2 in TF_family:
        family_interactions.append((tf1,TF_family[tf2]))

In [79]:
family_interactions

[('bHLH', 'ZNF187'),
 ('AP-2', 'bHLH'),
 ('ARID/BRIGHT', 'C2H2 ZF'),
 ('bHLH', 'ZNF187'),
 ('bHLH', 'bHLH'),
 ('bHLH', 'ENSG00000250542'),
 ('ID2', 'bHLH'),
 ('ARID/BRIGHT', 'bHLH'),
 ('bHLH', 'bHLH'),
 ('bZIP', 'bZIP'),
 ('bHLH', 'bHLH'),
 ('bHLH', 'bHLH'),
 ('bHLH', 'ZNF187'),
 ('ARID/BRIGHT', 'bHLH'),
 ('ARID/BRIGHT', 'bZIP'),
 ('bHLH', 'C2H2 ZF'),
 ('AP-2', 'ARID/BRIGHT'),
 ('bHLH', 'bHLH'),
 ('bHLH', 'bHLH'),
 ('ARID/BRIGHT', 'bHLH'),
 ('ARID/BRIGHT', 'bHLH'),
 ('AP-2', 'ZNF187'),
 ('bHLH', 'ZNF187'),
 ('ARID/BRIGHT', 'bHLH'),
 ('bHLH', 'C2H2 ZF'),
 ('bHLH', 'ZNF187'),
 ('bHLH', 'bHLH'),
 ('ARID/BRIGHT', 'bHLH'),
 ('ARID/BRIGHT', 'ZNF187'),
 ('bHLH', 'C2H2 ZF'),
 ('bHLH', 'bHLH'),
 ('ARID/BRIGHT', 'bHLH'),
 ('AP-2', 'bZIP'),
 ('bHLH', 'bZIP'),
 ('bHLH', 'bHLH'),
 ('ARID/BRIGHT', 'ARID/BRIGHT'),
 ('bHLH', 'C2H2 ZF'),
 ('bHLH', 'bZIP'),
 ('bHLH', 'bHLH'),
 ('ID2', 'bHLH')]

In [78]:
set(family_interactions)

{('AP-2', 'ARID/BRIGHT'),
 ('AP-2', 'ZNF187'),
 ('AP-2', 'bHLH'),
 ('AP-2', 'bZIP'),
 ('ARID/BRIGHT', 'ARID/BRIGHT'),
 ('ARID/BRIGHT', 'C2H2 ZF'),
 ('ARID/BRIGHT', 'ZNF187'),
 ('ARID/BRIGHT', 'bHLH'),
 ('ARID/BRIGHT', 'bZIP'),
 ('ID2', 'bHLH'),
 ('bHLH', 'C2H2 ZF'),
 ('bHLH', 'ENSG00000250542'),
 ('bHLH', 'ZNF187'),
 ('bHLH', 'bHLH'),
 ('bHLH', 'bZIP'),
 ('bZIP', 'bZIP')}